# From Spotify Developer Dashboard
CLIENT_ID = ""
CLIENT_SECRET = ""
REDIRECT_URI = ""


# The genre(s) to be added in the playlist
GENRES = []

# The playlist id of the existing playlist you want to add the tracks to
PLAYLIST_ID = ''